#index-container   {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.player-name, .player-score {
  font-family: 'Press Start 2P', cursive;
}
